


#header {
    background-image: url(../img/pc/imgaccueil/bg.png);
}

#cart-block-bas {
    background-image: url(../img/pc/imgaccueil/ticket-bas.png);
    background-repeat: no-repeat;
}
#cart-block-haut {
    background-image: url(../img/pc/imgaccueil/ticket-repeat.png);
    background-repeat: no-repeat;
}

.list-group {
    position: fixed;
    right: 25px;
    z-index: 5;
    display: block;
    width: 62px;
    height: 26px;
    color: #A3A3A3;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 6px;
    font: 12px Tahoma,sans-serif !important;
    border-radius: 4px;
    box-shadow: inset 0 0 3px rgba(68,68,68,0.08);
    background-image: url(../img/pc/imgaccueil/bg.png);
}


