#header {
    background-image: url(../img/pc/imgaccueil/bg.png);
}

#cart-block-bas {
    background-image: url(../img/pc/imgaccueil/ticket-bas.png);
    background-repeat: no-repeat;
}
#cart-block-haut {
    background-image: url(../img/pc/imgaccueil/ticket-repeat.png);
    background-repeat: no-repeat;
}